logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.swp
*.map
app/public/build
app/public/style
private.js
app/schedule/state_email.js
test/app/schedule/state_email.test.js
app/controller/mini.js